div {
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
}
#middle {
    background-color: rgb(60, 107, 73);
}
#static #middle{
    position: static;
    top: 20px;
}
#relative #middle {
    position: relative;
    top: 30px;
}
#absolute #middle {
    position: absolute;
    left: 200px;
}