div {
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
}
#middle {
    background-color: rgb(60, 107, 73);
}